<div class="center">
    <form class="card" style="border: 0; width: fit-content;" action="/list" method="POST"> 
        <div class="form-group" style="width:fit-content">
            <h2 style="color: black;" class="center">New List</h2>

            <div class="card center" id="list-item main-intro" style="width: fit-content;">
                <%- include('_form_fields') %>
            </div>
            <div id = "List-Item-Add"></div>
            <a href="/list" class="btn warning">Cancel</a>
            <button type="submit" class="buttons" style="width: fit-content">Create</button>
        </div>
    </form>
</div>