<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Trellolo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <a class="btn warning card center" onclick="AddList()">Add List</a>

    <section style="display:flex" id="main-intro cards">
      <div class="card" style="position: unset; height: fit-content;">
        <div class="card" style="border: 0; background: gray;" id="undefined"></div>
          <div class="form-group upper-center">
            <input type="text" name="Card Name" placeholder="Card Name">
  
            <div class="card" id="list-item main-intro">
              <input type="text" name="list" style="border: 0; width: 100%;">
            </div>
            <div id = "List-Item-Add"></div>
            <button type="submit" onclick="AddListItem()" class="buttons" style="font-family: Arial, Helvetica, sans-serif;">+ Add Another Card</button>
          </div>
        </form>
      </div>
      <div id="last-card-element"></div>
    </section>

    <section class="center" id="main-intro cards list-drag"><div></div></section>

    <template id="list-template">
      <div class="card" style="border: 0; height: fit-content;" id="list-list-draggable"><!--Because its a template we chose to make the id something that we can use for good. If were keeping the div then we would update the id to its pos but if not then we can use its old id to find it-->
        <div class="card" style="border: 0; background: gray;" id="undefined"></div> 
        <div class="form-group">
          <input type="text" name="Card Name" placeholder="Card Name">

          <div class="card" id="list-item main-intro">
            <input type="text" name="list" style="border: 0; width: 100%;">
          </div>
          <div id = "List-Item-Add"></div>
          <button type="submit" onclick="AddListItem()" class="buttons" style="font-family: Arial, Helvetica, sans-serif;">+ Add Another Card</button>
        </div>
      </div>
    </template>

    <template id="task-template">
      <div class="card" id="list-item main-intro">
        <input type="text" name="list" style="border: 0; width: 100%;">
      </div>
    </template>

    <script>
      function AddList() {
        var temp, item, a;
        temp = document.getElementById("list-template");
        item = temp.content;
        a = document.importNode(item, true);
        parent = document.getElementById('main-intro cards');
        if(parent.childElementCount < 5){
          parent.insertBefore(a, parent.lastElementChild); // update all positions for the cards
          for (let i = 0; i < parent.childElementCount; i++) {
            parent.children[i].children[0].id = parent.children[i].offsetLeft;
            document.getElementById(parent.children[i].children[0].id).addEventListener("click", checkClick);
            parent.children[i].id = "undefined" // as to not allow more than one div to have list-list-draggable id
          }
        }
        else
          console.log("Too Many Lists!");
      }
    </script>
    <script>
      function AddListItem() {
        var temp, item, a;
        
        temp = document.getElementById("task-template");
        item = temp.content;
        a = document.importNode(item, true); // we grab the components in there

        buttons = document.getElementsByClassName("buttons");
        var e = window.event;
        closestPosition = 20000;
        for (let i = 0; i < buttons.length; i++) {
          if(Math.abs(e.clientX - buttons[i].offsetLeft) < closestPosition)
          {
            closestPosition = e.clientX - buttons[i].offsetLeft;
            closest_position_index = i;
          }
        }
        button = buttons[closest_position_index];
        //parent = document.importNode(button.parent(), true);
        button.closest('div').insertBefore(a, button);
        console.log('inserted');
      }
    </script>


<script>
  //Make the DIV element draggagle:
  parent = document.getElementById('main-intro cards');
  has_been_clicked = false;
  function checkClick(){
    has_been_clicked = true;
    e=window.event
    smallest = 20000;
    for (let i = 0; i < parent.childElementCount; i++) {
      if(Math.abs(e.clientX - parent.children[i].offsetLeft) < smallest) // only calls drag element on the div thats closest to the mouse
        dragElement(parent.children[i]);
    }
  }
  
  
  function dragElement(elmnt) {
    if(!has_been_clicked)
      return;
    var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
    var dragged_item = null;
    if (document.getElementById(elmnt.id + "header")) {
      /* if present, the header is where you move the DIV from:*/
      document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
    } else {
      /* otherwise, move the DIV from anywhere inside the DIV:*/
      elmnt.onmousedown = dragMouseDown; 
    }
    
    function dragMouseDown(e) {
      if(!has_been_clicked)
        return;
      e = e || window.event;
      e.preventDefault();
      // get the mouse cursor position at startup:
      pos3 = e.clientX;
      pos4 = e.clientY;
      document.onmouseup = closeDragElement;
      // call a function whenever the cursor moves:
      document.onmousemove = elementDrag;
      

      var temp, item, a;
      temp = document.getElementById("list-template");
      item = temp.content;
      a = document.importNode(item, true);
      parent = document.getElementById('main-intro cards list-drag');
      parent.insertBefore(a, parent.lastElementChild).id; // update all positions for the cards 
      
      dragged_item = document.getElementById("list-list-draggable");
      dragged_item.style = "position: absolute";


      console.log(dragged_item);
      
      dragged_item.style.top = (e.clientY) + "px";
      dragged_item.style.left = (e.clientX) + "px";
    }
  
    function elementDrag(e) {
      if(!has_been_clicked)
        return;
      e = e || window.event;
      e.preventDefault();
      // calculate the new cursor position:
      pos1 = pos3 - e.clientX;
      pos2 = pos4 - e.clientY;
      pos3 = e.clientX;
      pos4 = e.clientY;
      // set the element's new position:
      dragged_item.style.left = (dragged_item.offsetLeft - pos1) + "px";
    }
      
    function closeDragElement() {
      if(!has_been_clicked)
        return;
      /* stop moving when mouse button is released:*/
      var closestPosition = 14000; // some big number we wont reach
      var closest_position_index;
      parent = document.getElementById('main-intro cards');
      for (let i = 0; i < parent.childElementCount; i++) {
        if(Math.abs(dragged_item.offsetLeft - parent.children[i].offsetLeft) < closestPosition)
        {
          closestPosition = dragged_item.offsetLeft - parent.children[i].offsetLeft;
          closest_position_index = i;
        }
      }

      if((elmnt.offsetLeft - dragged_item.offsetLeft) > 0)
        parent.insertBefore(elmnt, parent.children[closest_position_index]);
      else{
        try{
          parent.insertBefore(elmnt, parent.children[closest_position_index + 1]); // last-card-element
        }
        catch(error){
          console.error(error);
        }
      }
      document.getElementById(dragged_item.id).remove(dragged_item.id)

      has_been_clicked = false;
      document.onmouseup = null;

      document.onmousemove = null;
    }
  }
  </script>
  <!-- How Do I slow cursor speed? 
    1. first on drag make document position absolute
    2. onmouse up get all possible locations and 

  -->

  </body>
  <li><a href="/register">Sign up!!</a></li> 
  <li><a href="/login">Login</a></li> 
  <li><a href="/logout">Logout</a></li> 
  <li><a href="/logout">New Board</li>
  <li><a href="/logout">Board 1</li>
</html>
  